@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  color: white;
}

html {
  display: flex;
  background-color: #000000;
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  background-repeat: no-repeat;
  background: #000000;
  background: linear-gradient(to top, #000000 0%, #000066 35%, #131B8F 100%);
}