@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600&display=swap');

* {
  font-family: 'Outfit', sans-serif;
  color: white;
}

html {
  display: flex;
  background-color: rgba(0, 0, 0, 1);
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  background-repeat: no-repeat;
  background: rgba(0, 0, 0, 0.95);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgb(0, 55, 79) 31.8%, rgb(9, 93, 134) 56.2%, rgb(15, 155, 217) 89%);

}